*{
    margin: 0;
    padding: 0;
}
body {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background: url(/imagenes/1624044977-53b2e799d991f0e95c823e34b598e5244d7654077311cea44bde059d51c80496-d_640x360.jpg) no-repeat center center/cover;  
}
.contenedor-principal {
width: 80vw;
max-width: 600px;
min-height: 350px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-color: white;
}
.contenedor-botones {
    padding: 20px;

}

#Cronometro {
    width: 100%;
    font-size: 80px;
    user-select: none;
    font-family: 'Noto Sans Thai' sans-serif;
}

.boton {
    width: 80px;
    height: 80px;
    font-size: 50px;
    margin: 10px;
    padding: 10px;
}

#boton-inicio-pausa.iniciar,
#boton-inicio-pausa.iniciar i {
    background-color: aqua;
}

#boton-inicio-pausa.pausar,
#boton-inicio-pausa.pausar i {
background-color: blueviolet;
}

#boton-reiniciar {
    background-color: brown;
}